name: Build

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened]
    paths:
      - 'src/**'
      - '*.slnx'
      - '.github/workflows/build.yml'
  push:
    branches:
      - main

jobs:
  build:
    uses: CodingWithCalvin/.github/.github/workflows/vsix-build.yml@main
    with:
      extension-name: OpenInNotepadPlusPlus
    secrets: inherit
