name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  publish:
    uses: CodingWithCalvin/.github/.github/workflows/vsix-publish.yml@main
    with:
      extension-name: OpenInNotepadPlusPlus
      display-name: 'Open in Notepad++'
      marketplace-id: CodingWithCalvin.VS-OpenInNotepadPlusPlus
      description: 'Visual Studio extension to open files in Notepad++'
      hashtags: '#notepadplusplus'
    secrets: inherit
